@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> L

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <title>@L["Site_Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-protransfer">


            <div class="container">

                <!-- BRAND -->
                <a class="navbar-brand" href="/">@L["Site_Title"]</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">

                    <!-- LEFT MENU -->
                    <<ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">@L["Menu_Home"]</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Pages/Prices">Цени</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Transfer/Create">@L["Menu_BookTransfer"]</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Pages/Contacts">Контакти</a>
                        </li>
                    </ul>

                    <!-- RIGHT: LANGUAGE BUTTON -->
                    <div class="ms-auto">
                        <div class="dropdown">
                            <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                @System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName.ToUpper()
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="/?culture=bg&ui-culture=bg">Български</a></li>
                                <li><a class="dropdown-item" href="/?culture=en&ui-culture=en">English</a></li>
                                <li><a class="dropdown-item" href="/?culture=ru&ui-culture=ru">Русский</a></li>
                                <li><a class="dropdown-item" href="/?culture=fr&ui-culture=fr">Français</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-4">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted mt-5">
        <div class="container py-3 text-center">
            <small>&copy; @DateTime.Now.Year - @L["Site_Title"]</small>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


